<!DOCTYPE HTML>
<html>
<head>
    <title>Не найдено</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/styleIndex.css">
</head>
<body>
<header>
    <a href="/"><p class="Button">На главную</p></a>
    <a href="adminPage">
        <div class="Button">
            <p>Для администратора</p>
        </div>
    </a>
</header>
<section class="bodyIndexSection notFound">
    <h1>404 страница не найдена</h1>
    <a href="/"><p class="Button">На главную</p></a>
</section>
</body>
</html>